/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------
	Web Fundamentals (HTML/CSS) Feb 2015
--------------------------------------------------
//////////////////////////////////////////////////
*/
/*
##################################################
	RESET
##################################################
*/
*{
	margin: 0px;
	padding: 0px;
}
/*
##################################################
	PROBLEM 6
##################################################
*/
#body_problem_6{
	background-color:#add8e6;
	color:#222;
	padding:15px;
}
.img_dog{
	margin-top: 5px;
	border: 1px solid #555;
	width: 150px;
}
.bold{
	font-weight: bold;
}
.left_space{
	margin-left: 40px;
}
p.italic {
	font-style: italic;
}
p.normal {
	font-style: normal;
	margin-left:35px;
}

